@using EInsurance.Areas.InsMgmt.ViewModels
@model ShowPoliciesViewModel
@{
}

<h1>List of Policies</h1>

<style>
/*table, th, td {
  border: 4px solid white;
  border-collapse: collapse;
  background-color:cornsilk;
}
th, td {
  background-color:cornsilk;
}*/

body{
        
        background-image:url('https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?size=338&ext=jpg&ga=GA1.2.2009624204.1660112810');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="InsuranceId" class="control-label"></label>
                <select asp-for="InsuranceId" asp-items="ViewBag.InsuranceCollection" class="form-control"></select>
                <span asp-validation-for="InsuranceId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Show Policies</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
